.list-cards-cont {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 2rem;
}

.filter-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
}
